.topHeaderBar {
  background: var(--color-primary);
  color: var(--color-ligth);
}
.headerBarEmail,
.headerBarText {
  padding: 20px 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}
.headerBarEmail a,
.headerBarText span {
  text-transform: lowercase;
  color: #fff;
  text-decoration: none;
}
.headerBarText {
  margin-left: 48px;
}
.headerBarText p {
  margin: 0;
}
.donate a {
  display: inline-block;
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-decoration: #ffdead;
  background: #262222;
}
.carBtn{
   /*  height: 40px;
    width:250px; */
    background-color:var(--color-secundary);
   /*  text-align: center; */
   /*  font-size: var(--font-size-large); */
    text-decoration: none;
    color: var(--color-dark);
/*     border-radius: 5px;
 */    border: none;
  /*   font-weight: 200; */
 padding: 15px 20px;
}
.carBtn:hover{
    text-decoration: none;
    color:var(--color-alternative);    
    background-color:rgb(24, 22, 22);
}
/* .carBtn:link {
    text-decoration: none;
    color: var(--color-dark);
} */
.carBtn:active {
    text-decoration: none;
    color: var(--color-dark);
}
/* .carBtn:{
    text-decoration: none;
    color: var(--color-dark);
} */
/* .carBtn:focus {
    text-decoration: none;
    color: var(--color-alternative);
   background-color:rgb(24, 22, 22);
}
 */
.carBtnCerrar{

    background-color:var(--color-primary);
 
   /*  font-size: var(--font-size-large); */
    text-decoration: none;
    color: var(--color-alternative);
/*     border-radius: 5px;
 */    border: none;
  /*   font-weight: 200; */
 padding: 15px 20px;
}
.carBtnCerrar:hover{
    text-decoration: none;
    color:var(--color-alternative);    
    background-color:rgb(24, 22, 22);
}
/* .carBtnCerrar:link {
    text-decoration: none;
    color: var(--color-dark);
} */
.carBtnCerrar:active {
    text-decoration: none;
    color: var(--color-dark);
}
/* .carBtn:{
    text-decoration: none;
    color: var(--color-dark);
} */
/* .carBtnCerrar:focus {
    text-decoration: none;
    color: var(--color-alternative);
   background-color:rgb(24, 22, 22);
} */

/* @media (max-width: 600px) {
  .carBtn {
    display: none;
  }
} */