.topHeaderBar {
  background: var(--color-primary);
  color: var(--color-ligth);
  padding-left: 34px;
  padding-right: 25px;
}
.container {
  margin-left: 18px;
}
.headerBarEmail,
.headerBarText {
  padding: 20px 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}
.headerBarEmail a,
.headerBarText span {
  text-transform: lowercase;
  color: #fff;
  text-decoration: none;
}
.headerBarText {
  margin-left: 48px;
}
.headerBarText p {
  margin: 0;
}
.donate a {
  display: inline-block;
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-decoration: #ffdead;
  background: #262222;
}
.carBtn {
  background-color: var(--color-secundary);
  text-decoration: none;
  color: var(--color-dark);
  border: none;
  padding: 15px 20px;
}
.carBtn:hover {
  text-decoration: none;
  color: var(--color-alternative);
  background-color: rgb(24, 22, 22);
}

.carBtn:active {
  text-decoration: none;
  color: var(--color-dark);
}

.carBtnCerrar {
  background-color: var(--color-primary);
  text-decoration: none;
  color: var(--color-alternative);
  border: none;
  padding: 15px 20px;
}
.carBtnCerrar:hover {
  text-decoration: none;
  color: var(--color-alternative);
  background-color: rgb(24, 22, 22);
}

.carBtnCerrar:active {
  text-decoration: none;
  color: var(--color-dark);
}
.iconHeader{
  margin-left: 7px;
}