.contentImage{
    margin-top: 0px;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: var(--color-alternative);
    height: 100%;
    width: 100%;
    padding: 20px;
}
.textImage{
    margin-top: 10px;
    color:var( --color-secondary);
    font-size: var(--font-size-xxlarge);
    font-weight: 200;
    letter-spacing: 1px;
}
.img{
    height: 150px;
    opacity: 0.5;
    padding: 20px;
}