.cardContainer{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box; 
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    box-shadow: 1px 1px 9px -2px rgba(172, 172, 172, 0.75);
-webkit-box-shadow: 1px 1px 9px -2px  rgba(172, 172, 172, 0.75);
-moz-box-shadow: 1px 1px 9px -2px rgba(172, 172, 172, 0.75);
}

.card {
  margin: 0px;
  flex-basis: 100%;
  width: 300px;
  height: 350px;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #d7d7d7;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: rgb(255, 255, 255); 
}

.card:hover,
.card:focus,
.card:active {
  color:var(--color-primary);
  border-color:var(--color-primary);
}

.cardHeader {
    overflow: hidden;
    height: 200px;    
}

.cardContent {
    align-items: center; 
    text-align: center;
}

 .cardContentTitle {
    margin-top: 20px;
    padding: 0px 0px;
    font-size: var( --font-size-large);
    color: var(--color-dark);
}

.cardImg {
    position: relative;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease 0s, height 0s ease 0s;
    transform: scale(1);
}

 .cardImg:hover {
    transform: scale(1.05);
}

.cardContentText{
    color: var(--color-dark);
    color: var(--font-size-body);
}

.cardBody{
    background-color:var(--color-primary);
    color:var(--color-alternative);
}
.a{
    color:var(--color-alternative);
}