.card{
  margin-top: 10%;  
  box-shadow: 3px 5px 12px -2px rgba(72,19,59,0.43);
}
.cardImg {
  position: relative;
  width: 100%;  
  transition: all 0.3s ease 0s, height 0s ease 0s;
}

.cardContent {
  align-items: center;
  text-align: center;
} 

.cardImg:hover {
  transform: scale(1.05);
}

.viewMore {
  display: flex;
  justify-content: flex-end;
  color: var(--color-alternative);
}

.cardBody {
  /* background-color: var(--color-primary);      */
  color: var(--color-primary);
  text-align: center;
  height: 100px;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}

.formButton {
  color: var(--color-alternative);
  background-color: var(--color-primary);
  width: 100%;
  width: 135px;
  border-radius: 5px;
  border: none;
}
.formButton:hover {
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-alternative);
  border: none;  
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 65px;
}
.cardSubtitle{
  font-size: 14px;
  font-weight: inherit;
  color: var(--color-primary);
}
.cardTitle{
  font-size: 20px;
  font-weight: 400;
  margin-top: 2%;
}

.cardImgCont{
  overflow: hidden;
  max-width: 100%;
  height: auto;
}