.contentImage {
  position: relative;
  display: inline-block;
  text-align: center;
}
.textImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: seashell;
  font-size: 45px;
}
.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
