.linea{
    border: 0.1px solid var(--color-alternative);
    width: 100%;
   
}
.linea:nth-last-child(1){
    display: none;
}
.proyTitle{
    color:var(--color-primary);
    font-size: 24px;
}

.proyDesc{
    color:var(--color-dark);
    font-size: 18px;
}

.rowPro1{
    
    flex-direction: row;
}
.rowPro2{
    text-align: end;
}

@media (max-width: 990px) {
    .proyTitle{
        justify-content: center;
        display: flex;        
    }
  }

@media (max-width: 990px) {
    .colPro{
        justify-content: center;
        display: flex;
        width: 100%;          
    }    
    
}

@media (max-width: 990px) {
    .imgPro{
        width: 35%;
    } 
}

@media (max-width: 990px) {
    .rowPro1{
        margin: 2%;
        text-align:start;
    }
}

@media (max-width: 990px) {
    .rowPro2{
        flex-direction: column-reverse;
        margin: 2%;
        text-align: start;
    }
}