
.titleModalblog{
    color: var(--color-primary);
}
.botModalblog {
    color: var(--color-alternative);
    background-color: var(--color-primary);    
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
  .botModalblog:hover {
    text-decoration: none;
    color: var(--color-primary);
    background-color: var(--color-alternative);
    border: none;  
  }