.titleEquipo{
    color:var(--color-primary);
    text-align: center;
    margin-top:10px;
    font-size:var(--font-size-large);
    font-weight:400;
    padding-left: 15%;
    padding-right: 15%;
}
.contCardEquipo{
    margin: 0px 20px 0px 20px;
    padding: 50 auto;
    text-align: center;
    box-sizing: border-box;
    margin-left: 2%;
}
.contEquipo{
    margin:0;
}