.contProyecto{
    margin-top: 3%;
}
   
.linea{
    border: 0.1px solid var(--color-alternative);
    width: 100%;
}
.proyTitle{
    color:var(--color-primary);
    font-size: 24px;
}
@media (max-width: 990px) {
    .proyTitle{
        justify-content: center;
        display: flex;        
    }
  }
.proyDesc{
    color:var(--color-dark);
    font-size: 18px;
}

@media (max-width: 990px) {
    .colPro{
        justify-content: center;
        display: none;      
    }
  }
