.background {
  padding: 30px 0;
  background-color: var(--color-primary);
  color: var(--color-ligth);
}
.align-img {
  text-align: center;
}
.title {
  padding: 50px 0;
  text-align: center;
  color: var(--color-primary);
}
.section {
  margin: 30px 0;
}

.paragraph {
  text-align: justify;
}
.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerCards {
  display: "flex";
  justify-content: "space-around";
  margin-top: "20px";
}
.containerInfo {
  background-color: var(--color-primary);
}
.CardHistoria {
  background-color: var(--color-alternative);
}
